
/* 
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #424242;

}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}


/* Focused Section Design start */
section {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 150px;
    
}
.blueviolet-color {
    color: rgba(89, 0, 255, 0.61);
    display: block;
}
.flexible{
    display: flex;
    flex-wrap: wrap;
}
.focused-area{
    align-items: center;
}
.focused-title h1 {
    font-size: 60px;
    font-family: 'Yeseva One', cursive; 
    font-weight: 400;
    padding-left: 5px;
    border-left: 3px solid #FF5959;
    padding-left: 3%;
    margin-bottom: 30px;

}
.focused-title p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #3E3E3E;

}
.clickable-button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    background-color: #FF5959;
    padding: 12px 35px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 85%;
}
/* Focused Section Design end */

/* mission area Design Start */
.mission-area{

}
.mission-area h1 {
    font-size: 48px;
    color: #13103A;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;

}
.mission-area span{
    display: inline;
}

.One-third-width{
    width: 26%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 25px 20px 45px 20px;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
}
.One-third-width img {
    width: 50%;
}
.One-third-width h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #000;

}
#bg-middle {
    background-color: #f841ef2f;
    ;
}

/* mission area Design End */




/* Documentation design Start */

.blogs {
    align-items: center;
    margin-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.blog-img {
    width: 35%;
}
.blog-img img {
    width: 85%;
}

.blog-content  {
    width: 60%;
    padding-right: 5%;
}
.blog-content h1 {
    font-size: 40px;
    color: #333333;
    margin-bottom: 20px
}


.blog-content span {
    display: block;
}
.span-color {
    color: #FF5959;
}
.bg-top {
    background-image:url(/images/bg/shape-1.png);
    background-size: 240px 240px;
    background-repeat: no-repeat; 
    background-position: left center;
}

.bg-bottom {
    background-image:url(/images/bg/shape-1.png);
    background-size: 240px 240px;
    background-repeat: no-repeat; 
    background-position: right bottom;
    padding-bottom: 80px;
}

/* Documentation design End */


/* Contact us Area Start */
    form input, textarea {
        display: block;
        width: 70%;
        margin: 15px 0;
        padding: 15px;
        border-radius: 20px;
        font-size: 15px;
        font-family: 'Yeseva One', cursive; 

    }

    .contactus-content {
        align-items: center;
    }
    input:focus, textarea:focus {
        outline: none;
    }

    .half-width h2 {
        font-size: 30px;
    }

    button {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background-color: #FF5959;
        padding: 5px 20px;
        border-radius: 50px;
        text-decoration: none;
    }
/*  Contact us Area End */

/* Footer start */

footer{
    padding: 50px 0;
    background-color: black;
    color: #fff;
}

.footer-content {
    text-align: center;
}

.footer-content h3 {
    font-size: 36px;
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
}

.footer-content p {
    margin: 15px 0;
    text-align: center;
}

/* Footer End */
