
/* 
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #424242;

}


/* Focused Section Design start */
section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    
}
.blueviolet-color {
    color: rgba(89, 0, 255, 0.61);
    display: block;
}
.flexible{
    display: flex;
}
.focused-area{
    align-items: center;
}
.focused-title h1 {
    font-size: 60px;
    font-family: 'Yeseva One', cursive; 
    font-weight: 400;
    padding-left: 5px;
    border-left: 3px solid #FF5959;
    padding-left: 3%;
    margin-bottom: 30px;

}
.focused-title p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #3E3E3E;

}
.focused-title a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    background-color: #FF5959;
    padding: 12px 35px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 85%;
}
/* Focused Section Design end */

/* mission area Design Start */
.mission-area{

}
.mission-area h1 {
    font-size: 48px;
    color: #13103A;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;

}
.mission-area span{
    display: inline;
}

.One-third-width{
    width: 33.33%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 25px 20px 45px 20px;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
}
.One-third-width img {
    width: 50%;
}
.One-third-width h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #000;

}
#bg-middle {
    background-color: #f841ef2f;
    ;
}

/* mission area Design End */