
/* 
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; 
*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Focused Section Design start */
section {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    
}
.blueviolet-color {
    color: rgba(89, 0, 255, 0.61);
    display: block;
}
.flexible{
    display: flex;
}
.flexible div {
    padding-left: 3%;
}
.focused-area{
    align-items: center;
}
.focused-title h1 {
    font-size: 60px;
    font-family: 'Yeseva One', cursive; 
    font-weight: 400;
    padding-left: 10px;
    border-left: 3px solid #FF5959;

}
.focused-title p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #3E3E3E;

}
.focused-title a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    background-color: #FF5959;
    padding: 12px 35px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}
/* Focused Section Design end */
